%h1= @job.title
%p= @job.description
%p= @job.company

= link_to "Home", root_path
= link_to "Edit", edit_job_path(@job)
= link_to "Delete", job_path(@job), method: :delete, data: {confirm: "Are you really sure about this?" }